:root {
  --blue-dark: #31618f;
  --blue-med: #60a0db;
  --blue-light: #a6d4ff;
  --brown-dark: #8f6622;
  --brown-light: #dbad60;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f5;
}

a {
  text-decoration: none;
}
